body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.select-wrap {
  position:relative;
}

.select-wrap label {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16x;
  color: #828282;
  padding: 0 8px;
  position: absolute;
}

select {
  height:50px;
  width: 100%;
}

.hpx-50 {
  height: 50px;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1100px;
  }
}

@media (min-width: 768px) {
  .right-bg {
    position: relative;
    z-index: 1;
  }
  
  .right-bg::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    background-color: #F5F5F5;
    z-index: -1;
    width: calc(100vw - 450px);
  }

  .border-right-md-up {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}

.bg-ligth-blue {
  background: #f0f5ff;
}

.bg-very-light-grey {
  background: #fafafa;
}

.bg-light-grey,
table.bg-light-grey td,
table.bg-light-grey th {
  background: #F5F5F5;
}

.bg-green {
  background: #009900;
  border-color: #009900;
}